<footer>
<div class="footerMenu">
  <ul class="footerClass">
    <li class="footerMenu"><%= link_to "About", static_pages_about_path %></li>
    <li class="footerMenu"><%= link_to "Contact", root_path %></li>
    <li class="footerMenu"><%= link_to "FAQ", salons_show_path %></li>
  </ul>
</div>
<div class"socialMedia">
<ul class="footerClass">
  <li class="socialLogo"><%= link_to root_path do %>
    <%= image_tag "/social/facebook-icon.png", size: "30x30" %>
  <% end %>
  </li>
  <li class="socialLogo"><%= link_to root_path do %>
    <%= image_tag "/social/Twitter-icon.png", size: "30x30" %>
  <% end %>
  </li>
  <li class="socialLogo"><%= link_to root_path do %>
    <%= image_tag "/social/pinterest-icon.png", size: "30x30" %>
  <% end %>
  </li>
  <li class="socialLogo"><%= link_to root_path do %>
    <%= image_tag "/social/instagram-icon.png", size: "30x30" %>
  <% end %>
  </li>
  </div>

</footer>
