<header>
<div class="navigationBar">
  <ul>
    <li class="navList"><%= link_to "Home", root_path %></li>
    <li class="navList"><%= link_to "Salons", salons_show_path %></li>
    <li class="navList"><%= link_to "Appointments", appointments_show_path %></li>
    <li class="navList"><%= link_to "Services", categories_show_path %></li>
    <li class="navList"><%= link_to "Login", users_path %></li>
  </ul>
</div>

</header>
