<header>
<div class="navigationBar">
  <ul>
    <li class="nav centered"><%= link_to "Salons", salons_show_path %></li>
    <li class="nav centered"><%= link_to "Appointments", appointments_show_path %></li>
    <li class="nav centered"><%= link_to "Services", categories_show_path %></li>
    <li class="nav centered"><%= link_to "About", static_pages_about_path %></li>
    <li class="nav centered"><%= link_to "Login", new_session_path %></li>
  </ul>
</div>


</header>
