<div id="container">
  <div id="navigation">
    <%= render "static_pages/header" %>
  </div>
  <div id="body">
    <%= render "static_pages/form" %>
    <div class="row row-title">
      <div class="col-md-2">Time</div>
      <div class="col-md-2">Stylist/Tech</div>
      <div class="col-md-2 centered">Salon</div>
      <div class="col-md-4">Price Range</div>
    </div>
    <% @appointments.each do |appointment| %>
    <div class="row">
      <div class="col-md-2">
        <button>
          <%= link_to "*", appointments_path(appointment) %>
        </button>
        <%= appointment.time %>
      </div>
      <div class="col-md-2"><%= appointment.technician_id.name %></div>
      <div class="col-md-2 centered"><%= appointment.technician_id.name %></div>
      <div class="col-md-4"><%= appointment.technician_id.name %></div>
      <div class="col-md-2 centered">Genre</div>
    </div>
    <% end %>
    <% if @paginate %>
    <%= paginate @appointments %>
    <% end %>

    <p>TO DO: implement filters, Style form</p>

  </div>


    <div id="footer">
      <%= render "static_pages/footer" %>
    </div>
  </div>
