<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "Getyour Did2" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Getyour Did2" %>">
  <link href='https://fonts.googleapis.com/css?family=Poiret+One|Russo+One' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

<%= favicon_link_tag 'favicon.png' %>

</head>
<body>
<div id="navigation">
    <%= render "layouts/header" %>
  </div>
  <main role="main">
    <%#= render 'layouts/messages' %>

     <%= yield %>
  </main>
  <footer>
  <div class="footer">
    <%= render "layouts/footer" %>
  </div>
</footer>

</body>

</html>

